<div class="container">
	<div class="row">
		<div class="col">
			<h3>マイページ</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2 col-xs-offset-1">
			<%= attachment_image_tag(@user, :image, size:"200x200", fallback:"no_image.png") %>
			<div class="chat-block">
				<% if @user != current_user %>
				<%= link_to "チャットする", chat_path(@user), class: "btn btn-warning" %>
				<% end %>
			</div>
		</div>

		<div class="col-xs-5 col-xs-offset-1">
			<div id="table_profile<%= @user.id %>">
				<%= render partial: 'users/profile', locals: { user: @user } %>
			</div>
		</div>

<!-- フォロー機能 -->
		<div class="col-xs-5 col-xs-offset-1">
			<% if @user != current_user %>
				<div id="relationship<%= @user.id %>">
					<%= render partial: 'relationships/relationship', locals: { user: @user } %>
				</div>
			<% end %>

			<% if @user == current_user %>
				<%= link_to "編集", edit_user_path(@user), class:"pull-right" %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<hr>
			<% @posts.each do |post| %>
				<div class="my-box-search">
					<%= link_to post_path(post) do %>
					<%= image_tag post.image[0].to_s, size:"250x250" %><br>
					<% end %>
					<div class="search-title">
						<i class="far fa-thumbs-up">
							<%= post.likes.count %></i>
						<i class="far fa-comment">
							<%= post.comments.count %></i>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>