<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col">
			<h3>マイページ</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2 col-xs-offset-1">
			<%= attachment_image_tag(@user, :image, size:"200x200", fallback:"no_image.png") %>
		</div>

		<div class="col-xs-5 col-xs-offset-1">
			<table class="table">
				<tr>
					<th>名前</th>
					<th><%= @user.name %></th>
				</tr>

				<tr>
					<th>自己紹介</th>
					<th><%= @user.introduction %></th>
				</tr>

				<tr>
					<th>フォロー</th>
					<th><%= link_to @user.follower.count, follows_path(@user) %></th>
				</tr>

				<tr>
					<th>フォロワー</th>
					<th><%= link_to @user.followed.count, followers_path(@user) %></th>
				</tr>
			</table>
		</div>

		<div class="col-xs-5 col-xs-offset-1">
			<% if @user.id != current_user.id %>
<!-- フォロー機能 -->
			<div id="relationship<%= @user.id %>">
				<%= render partial: 'relationships/relationship', locals: { user: @user } %>
			</div>
			<% end %>

			<%= link_to "チャットする", chat_path(@user) %>

			<%= link_to "編集", edit_user_path(@user), class:"pull-right" %>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col">
			<hr>
					<% @posts.each do |post| %>
						<div class="my-box">
							<%= link_to post_path(post) do %>
							<%= image_tag post.image[0].to_s, size:"250x250" %>
							<% end %>
							<% post.title %><!-- css乱れる -->
						</div>
					<% end %>
		</div>
	</div>
</div>