<div class="container">
  <div class="post-title">
    <h4><label>ChatRoom</label></h4>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
          <p style="text-align: right;"><%= chat.message %>
            <%= attachment_image_tag(chat.user, :image, size: "50x50", fallback: "no_image.png") %>
          </p>
        <% else %>
          <p style="text-align: left;"><%= attachment_image_tag(chat.user, :image, size: "50x50", fallback: "no_image.png") %>
            <%= chat.message %></p>
        <% end %>
      <% end %>
      <%= form_for(@chat) do |f| %>
        <%= f.text_field :message, class: "form-control" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "送信" %>
      <% end %>

    </div>
  </div>
</div>