<%= form_for(post) do |f| %>
	<%= render 'home/error_messages', model: f.object %>
	<div class="field-post">
		<%= f.label :投稿タイトル %>
		<%= f.text_field :title, autofocus: true, placeholder: "タイトル名", class: "form-control" %>
	</div>
	<div class="field-post">
		<%= f.label :投稿内容 %>
		<%= f.text_area :body, placeholder: "どんな内容", class: "form-control" %>
	</div>
	<div class="field-post">
		<%= f.label :画像選択 %>(複数選択可)
		<%= f.file_field :image, :multiple => true, class: "form-control" %>
	</div>
	<div class="field-post">
		<%= f.label :タグづけ %>
		<%= f.text_field :tag_list, value: post.tag_list.join(','), placeholder: "「,」区切りで追加してください", class: "form-control" %>
	</div>
	<div class="action-post">
		<%= f.submit "投稿する", class: "btn btn-lg btn-primary btn-block" %>
	</div>
<% end %>