<div class="container">
	<div class="row">
		<div class="col">
			<h3>投稿詳細</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-xs--offset-3">
			<div class="postbox">
				<div class="post-first">
					<%= attachment_image_tag(@post.user, :image, size:"50x50", fallback: "no_image.png") %>
					<%= link_to user_path(@post.user) do %>
					<%= @post.user.name %>
					<% end %>
					<label class="title">
						<%= @post.title %>
					</label>
					 <p class="pull-right"><%= @post.created_at.strftime('%Y/%m/%d') %></p>
				</div>
			<div class="bxslider"><!-- js画像スライダー -->
				<% @post.image.each do |image| %>
					<%= image_tag(image.url, class:"post-image") %>
				<% end %>
			</div>
			<hr>

			<div class="post-tag">
				<% @post.tag_list.each do |tag| %>
				  <p class="label pull-right">
				  	<%= link_to tag, tag_searchs_path(tag_name: tag), class: "badge" %>
				  </p>
				<% end %>
			</div>
<!-- いいね機能 -->
				<div id="like<%= @post.id %>">
					<%= render partial: 'likes/like', locals: { post: @post } %>
				</div>
			<hr>

			<label>内容: </label>
			<%= @post.body %><br>
			<% if @post.user_id == current_user.id %>
			<%= link_to "編集", edit_post_path(@post) %>
			<%= link_to "削除", post_path(@post), method: :delete %>
			<% end %>
			</div>
		</div>
	</div>

<!-- コメント非同期 -->
	<div class="row">
		<div class="col">
			<h4>コメント</h4>
				<div id="comments_area">
				<%= render partial: 'comments/index', locals: { comments: @comments } %>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-7 col-xs-offset-5">
			 <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
		</div>
	</div>
</div>
