<div class="container">
	<div class="row">
		<div class="col">
			<h3>投稿詳細</h3>
		</div>
	</div>

	<div class="postbox">
		<div class="row">
			<div class="col-xs-5">
				<div class="bxslider"><!-- js画像スライダー -->
					<% @post.image.each do |image| %>
						<%= image_tag(image.url, class:"post-image") %>
					<% end %>
				</div>
			</div>

			<div class="col-xs-6 col-xs-offset-1">
				<table class="table">
					<%= attachment_image_tag(@post.user, :image, size:"50x50", fallback: "no_image.png") %>
					<tr>
						<label class="pull-right"><%= @post.created_at.strftime('%Y/%m/%d') %></label>
					</tr>
					<tr>
						<th>ユーザー名</th>
						<th><%= link_to user_path(@post.user) do %>
								<%= @post.user.name %>
								<% end %>
						</th>
					</tr>
					<tr>
						<th>タイトル</th>
						<th><%= @post.title %></th>
					</tr>
					<tr>
						<th>タグ</th>
						<th class="tag-min"><% @post.tag_list.each do |tag| %>
				  			<%= link_to tag, tag_searchs_path(tag_name: tag), class: "badge" %>
								<% end %>
						</th>
					</tr>
					<tr>
						<th>内容</th>
						<th><%= @post.body %></th>
					</tr>
				</table>
				<hr>
				<!-- いいね機能 -->
				<div id="like<%= @post.id %>">
					<%= render partial: 'likes/like', locals: { post: @post } %>
				</div>
				<div class="post-select pull-right">
					<% if @post.user_id == current_user.id %>
						<%= link_to "編集", edit_post_path(@post) %>
						<%= link_to "削除", post_path(@post), method: :delete %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<!-- コメント非同期 -->
	<div class="row">
		<div class="col">
			<h4>コメント</h4>
				<div id="comments_area">
				<%= render partial: 'comments/index', locals: { comments: @comments } %>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-7 col-xs-offset-5">
			<div class="action-post">
			 <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
			</div>
		</div>
	</div>
</div>