<div class="container">
	<div class="row">
		<div class="col">
			<div class="search-form">
				<%= render 'layouts/search' %>
			</div>

			<% if @user_or_post == "1" %>
				<h4>ユーザー検索</h4>
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
  					<%= render 'relationships/user_list', users: @users %>
					</div>
				</div>

				<% else %>
					<h4>タイトル検索</h4>
					<hr>
					<% @posts.each do |post| %>
						<div class="my-box-search">
							<%= link_to post_path(post) do %>
							<%= image_tag post.image[0].to_s, size:"250x250" %><br>
							<% end %>
							<div class="search-title">
							<%= post.title %>
							</div>
						</div>
					<% end %>
					<% end %>

		</div>
	</div>
</div>
